@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #f2efce;
  color: #554f0e;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ac772a;
}

a:hover {
  color: #de9227;
}

hr {
  background-color: #554f0e;
}

.jumbotron {
  background-color: #554f0e;
  color: #f2efce;
}

.jumbotron .logo{
  width: 100px;
}

/* .sections {
  background-image: url('tube-blue.png');
  background-repeat: no-repeat;
  background-size: contain;
} */
.sections::after {
  content: "";
  background-image: url('tube-blue.png');
  background-repeat:space;
  background-size: contain;
  opacity: 0.2  ;
  top: 400px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.sections h5 {
  color: #03989e;
}

.sections .icon {
  color: #f04f33;
  font-size: 1.5em;
}

.sections .icon-link svg {
  font-size: 3em;
}

.sections .icon-link {
  color: #554f0e;
  margin-left: .5em;
  margin-right: .5em;
}

.sections .icon-link:hover {
  color: #ac772a;
}

.sections .band {
  margin: 1em;
}

.sections .band h6 {
  color: #de9227;
}

.sections .band .icon-link {
  font-size: .5em;
}

.sections .highlight {
  color: #ac772a;
}

.inline-svg {
  width: 1em;
  height: 1em;
}
