body {
  background-color: #f2efce;
  color: #554f0e;
}

a {
  color: #ac772a;
}

a:hover {
  color: #de9227;
}

hr {
  background-color: #554f0e;
}

.jumbotron {
  background-color: #ac772a;
  color: #f2efce;
}

.sections h5 {
  color: #03989e;
}

.sections .icon {
  color: #f04f33;
  font-size: 1.5em;
}

.sections .icon-link svg {
  font-size: 3em;
}

.sections .icon-link {
  margin-left: .5em;
  margin-right: .5em;
}

.sections .band {
  margin: 1em;
}

.sections .band h6 {
  color: #de9227;
}

.sections .band .icon-link {
  font-size: .5em;
}

.sections .highlight {
  color: #ac772a;
}

.inline-svg {
  width: 1em;
  height: 1em;
}
